.container {
  position: relative;
  height: 500px;
}

.slick-slide img {
  margin: auto;
}

.image {
  height: 568px;
  width: fit-content;
}

.text-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 140px;
  background-color: black;
  border-radius: 4px;
  opacity: 0.9;
  color: white;
}

.but {
  background-color: orange;
  color: white;
  font-size: large;
  font-weight: 700;
  padding: 17px;
  height: 55px;
  width: 150px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 1;
}
.headText {
  font-size: large;
  font-weight: 500;
  margin-left: 15px;
}
