.body {
  text-align: center;
  margin-top: 30px;
  margin-left: 8%;
  width: 400px;
  height: 400px;
}

.images {
  height: 200px;
  width: 1000px;
}

.body1 {
  margin-top: 30px;
  margin-left: 11%;
  margin-right: 8%;
  width: 100%;
}

.grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  margin-right: 30px;
  font-size: 15px;
}
