.nw-container{
    position: relative;
    margin-top: 10px;
 text-align: center;
 color: #2E3B55;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    font-weight: 800;
    transform: translate(-50%, -50%);
  }